input.form-text.form-autocomplete.bti-16 {
  background-position: right center;
  background-repeat: no-repeat;
}

input.form-text.bti-16 {
  background-position: right center;
  background-repeat: no-repeat;
}

label.bti-16 {
  background-position: right center;
  background-repeat: no-repeat;
}

div.bti-16 {
  background-position: right center;
  background-repeat: no-repeat;
}

.bti-16.select {
  background-position: right center;
  background-repeat: no-repeat;
  width: 30px;
  height: 19px;
  display: inline-block;
}

.bti-16.custom {
  background-position: center center;
  background-repeat: no-repeat;
  width: 30px;
  height: 19px;
  display: inline-block;
  padding: 0 10px;
}

input.form-text.form-autocomplete.bti-24 {
  background-position: right center;
  background-repeat: no-repeat;
}

input.form-text.bti-24 {
  background-position: right center;
  background-repeat: no-repeat;
}

label.bti-24 {
  background-position: right center;
  background-repeat: no-repeat;
}

div.bti-24 {
  background-position: right center;
  background-repeat: no-repeat;
}

.bti-24.select {
  background-position: right center;
  background-repeat: no-repeat;
  width: 30px;
  height: 19px;
  display: inline-block;
}
